 /* Modal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-main {
  background: #ffffff;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slide-down 0.5s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.modal-main h2 {
  margin-top: 0;
  
}

.modal-main form {
  display: flex;
  flex-direction: column;
}

.modal-main label {
  margin-top: 1rem;
  font-weight: bold;
}

.modal-main input,
.modal-main textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-main textarea {
  resize: vertical;
}
.orderplan {
   
  
   align-items: center;   
   font-size: 1rem;
   margin-top: 1rem;
   margin-left: 0.5rem;
   font-weight: bold;
}
.orderplan p{
  margin-bottom: 0.5rem;
}



.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.modal-buttons button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.modal-buttons button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.modal-buttons button[type="button"] {
  background-color: #f44336;
  color: white;
}

  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  

  