.slider-container {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust based on your requirements */
    overflow: hidden;
    display: flex;
}

.slider-wrapper {
    display: flex;
    width: 300%; /* Adjust based on the number of images */
    transition: transform 1s ease-in-out;
}

.slider-image {
    width: 100%;
    height: auto; /* Adjust based on your requirements */
    flex-shrink: 0;
}
@media (max-width:545px) {
    .slider-image {
        
        height: 45vh; 
        flex-shrink: 0;
    }
}
